header{
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    background-color: black;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
header a{
    position: relative;top:-5px;
    font-size: 20px;
    padding: 10px;
    font-family: "ubuntu";
    color: white;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
.jyunbi {
    font-family: "Noto Sans JP";
    text-align: center;
    position: relative;top: 120px;;
}
    