header{
    z-index: 4;
    width: 100%;
    position: fixed;
    
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    position:fixed;
    top:0px;
}
header li a{
    margin: 0;
    position: relative;top:-5px;
    font-size: 20px;
    padding: 20px;
    font-family: "ubuntu";
    color: rgb(255, 255, 255);
    text-decoration: none;
}
body {
    background-color: rgb(240, 242, 245);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
.jyunbi {
    font-family: "Noto Sans JP";
    text-align: center;
    position: relative;top: 120px;;
}
header li {
    display: inline-block;
}
.lecto {
    z-index: 1;
    position: relative;
    height: 70vh;
    width: 100vw;
    object-fit: cover;
    
    
}
.projectimge {
    position: relative;
}
.lecto2{
    position: absolute;
    top: 10px;
    right: 750px;
    z-index: 5;
}
.projectimge p{
    color: white;
    font-family: "Noto Sans JP";
    position: absolute;
    top: 200px;
    right: 1050px;
    z-index: 6;
    text-shadow: rgb(87, 87, 87) 1px 1px,rgb(88, 88, 88) 2px 2px,rgb(89, 89, 89) 3px 3px,rgb(90, 90, 90) 4px 4px,rgb(91, 91, 91) 5px 5px
}
.news {
    text-align: center;
    font-family: "Noto Sans JP";
}t
.news text {
    text-shadow: rgb(240, 240, 240) 1px 1px,rgb(237, 237, 237) 2px 2px,rgb(234, 234, 234)3px 3px,rgb(231, 231, 231) 4px 4px,rgb(228, 228, 228) 5px 5px,rgb(218, 218, 218) 6px 6px,rgb(201, 201, 201) 6px 6px,rgb(291, 291, 291) 7px 7px, rgb(281, 281, 281) 6px 6px,rgb(271, 271, 271) 8px 8px,rgb(261, 261, 261) 9px 9px,rgb(240, 240, 240) 10px 10px;
}
.menber h2{
    text-shadow: rgb(240, 240, 240) 1px 1px,rgb(237, 237, 237) 2px 2px,rgb(234, 234, 234)3px 3px,rgb(231, 231, 231) 4px 4px,rgb(228, 228, 228) 5px 5px,rgb(218, 218, 218) 6px 6px,rgb(201, 201, 201) 6px 6px,rgb(291, 291, 291) 7px 7px, rgb(281, 281, 281) 6px 6px,rgb(271, 271, 271) 8px 8px,rgb(261, 261, 261) 9px 9px,rgb(240, 240, 240) 10px 10px;
}
.menber{
    text-align: center;
    font-family: "Noto Sans JP";
}