html{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
}
header{
    background: rgba(0, 0, 0, 0.8);
}
.logo{
    text-align: center;
}
.kokkologo{
    margin: 0%;
    padding: 0%;
    width: 15%;
    height: auto;
}
.kusodeka{
    text-align: center;
    font-family: 'Century Gothic';
}
.kusodeka h1{
    font-size: 20vh;
    font-style: italic;
    margin: 20px;
}
.kusodeka p{
    margin: 10px;
    font-size: 5vh;
    font-weight: bold;
}