html{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
}
header{
    background: rgba(0, 0, 0, 0.8);
}
.kokkologo{
    margin: 0%;
    padding: 0%;
    width: 10%;
    height: auto;
}
.logo p{
    font-family: "Noto Sans JP";
    color: rgb(235, 239, 243);
    padding: 0;
    margin: 0;
}
.anm1{
    width: 39%;
    height: auto;
}
.re{
    display: flex; 
    font-family: "Noto Sans JP";
}
.re pre{
    font-family: "Noto Sans JP";
}
h2{
    font-family: "Noto Sans JP";
}